.Big {
  background: url("https://rawcdn.githack.com/alexisjcarr/Pomodoro-App/ba1a9118fc7ea7515edea0d0ec6ffe3b3d748b51/src/Pomodoro/black-and-white-black-and-white-hand-1496146.jpg");
  background-size: cover;
  /*height: 800px;*/
  padding-top: 50px;
  padding-bottom: 200px;
}

#footer {
  /*background: lightgray;*/
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

#time {
  /*background: black;*/
  color: aliceblue;
  font-size: 100px;
  text-shadow: 3px 2px black;
}

.Button {
  background-color: aliceblue;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

.Button:hover {
  background-color: lightslategray;
  color: aliceblue;
}

/*#naV {
    background-color: black;
    padding: 20px;
}*/
